* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headcontainer {
    width: 50%;
    height: auto;
    /* border: solid 3px black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    font-size: 30px;
}

#padsizebtn {
    font-size: 28px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px;
    background-color: rgb(165, 132, 42);
    margin-left: 10px;
}

.main {
    width: auto;
    height: auto;
    /* border: solid 3px black; */
    display: flex;
}